.main {
  padding: 2em 8em;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: var(--font-roboto);
}

.social {
  display: flex;
  gap: 1rem;
}

.socialLink {
  font-weight: 400;
  line-height: 1.8em;
  font-size: 1.2rem;
  font-family: var(--font-roboto);
  text-decoration: none;
  padding: 0.1em 0;
  color: #fff;
  border-bottom: 0.5px solid transparent;
}

.socialLink:hover,
.socialLink:focus-visible {
  color: #e1dfd9;
  border-bottom: 0.5px solid #e1dfd9;
  outline: none;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 6em 0 1em 0;
}

.headline {
  font-size: 6rem;
  font-weight: 600;
  font-family: var(--font-roboto);
}

.experienceContainer {
  margin-top: 6em;
}

.experienceItem {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 2em;
  margin-top: 2rem;
  justify-items: center;
}

.experienceItem p {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: var(--font-roboto);
}

.projectContainer {
  margin-top: 2em;
}

.projectItem {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 2fr;
  gap: 2em;
  margin-top: 4em;
}

.projectItem h3 {
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--font-roboto);
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.projectLinkContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.projectItem span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  font-family: var(--font-roboto);
  margin-top: 0.5em;
}

.projectLink {
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--font-roboto);
  text-decoration: none;
  line-height: 1.2em;
  color: #fff;
  border-bottom: 0.5px solid transparent;
}

.projectLink:hover,
.projectLink:focus-visible {
  color: #211a28;
  border-bottom: 0.5px solid #211a28;
  outline: none;
}

.projectItem p {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: var(--font-roboto);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contactContainer {
  margin: 10em 0;
  display: flex;
  align-items: center;
}

.contactLink {
  font-size: 6rem;
  font-weight: 700;
  font-family: var(--font-roboto);
  text-decoration: none;
  line-height: 1.2em;
  color: #fff;
  border-bottom: 0.5px solid #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  outline: none;
}

.contactLink:hover,
.contactLink:focus-visible {
  color: #211a28;
  border-bottom: 0.5px solid #211a28;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: var(--font-roboto);
}

.personalLink {
  color: #fff;
  text-decoration: none;
  border-bottom: 0.5px solid #fff;
}

.personalLink:hover,
.personalLink:focus-visible {
  color: #211a28;
  border-bottom: 0.5px solid #211a28;
  outline: none;
}

@media (max-width: 850px) {
  .main {
    padding: 1em 2em;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  .title {
    font-size: 1.4rem;
    font-weight: 500;
    font-family: var(--font-roboto);
  }

  .social {
    display: flex;
    gap: 1rem;
  }

  .socialLink {
    font-weight: 400;
    line-height: 1.8em;
    font-size: 1rem;
    font-family: var(--font-roboto);
    text-decoration: none;
    padding: 0.1em 0;
    color: #fff;
    border-bottom: 0.5px solid transparent;
  }

  .socialLink:hover,
  .socialLink:focus-visible {
    color: #211a28;
    border-bottom: 0.5px solid #211a28;
    outline: none;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 6em 0 1em 0;
  }

  .headline {
    font-size: 2.8rem;
    font-weight: 600;
    font-family: var(--font-roboto);
    text-align: center;
  }

  .experienceContainer {
    margin-top: 4em;
  }

  .experienceItem {
    display: grid;
    grid-template-columns: auto;
    gap: 1em;
    margin-top: 1rem;
    justify-items: flex-start;
  }

  .experienceItem p {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: var(--font-roboto);
  }

  .experienceItem span {
    display: none;
  }

  .projectContainer {
    margin-top: 1em;
  }

  .projectItem {
    display: grid;
    grid-template-columns: auto;
    gap: 1em;
    margin-top: 2em;
  }

  .projectItem h3 {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: var(--font-roboto);
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .projectLinkContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }

  .projectItem span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    font-family: var(--font-roboto);
    margin-top: 0.5em;
    display: none;
  }

  .projectLink {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: var(--font-roboto);
    text-decoration: none;
    line-height: 1.2em;
    color: #fff;
    border-bottom: 0.5px solid #fff;
  }

  .projectLink:hover,
  .projectLink:focus-visible {
    color: #211a28;
    border-bottom: 0.5px solid #211a28;
    outline: none;
  }

  .projectItem p {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: var(--font-roboto);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .contactContainer {
    margin: 6em 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contactLink {
    font-size: 3rem;
    font-weight: 700;
    font-family: var(--font-roboto);
    text-decoration: none;
    line-height: 1.2em;
    color: #fff;
    border-bottom: 0.5px solid #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .contactLink:hover,
  .contactLink:focus-visible {
    color: #211a28;
    border-bottom: 0.5px solid #211a28;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer p {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: var(--font-roboto);
  }
}
